.root__container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
z-index: 9999;
  .alert__container {
    position: absolute;
    padding: 1rem 1.6rem;
    width: 30rem;
    max-width: 80vw;
    min-height: 12vh;
    height: 12vh;
    background-color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    transform: translate3d(-50%, -50%, 0);
    animation: scale 0.2s linear both;
    display: flex;
    gap: 2.4rem;

    .alert__wrapper {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      gap: 1rem;
      .alert__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 0.2rem;
        justify-content: center;
        .alert__title {
          font-size: 1.5rem;
          font-weight: 600;

        }

        .alert__text{
          font-size: 1.3rem;
          color: #394a5e;
        }
      }

      .alert__action {
        display: flex;
        align-items: center;
        height: 100%;

        button {
          width: 8rem;
          max-width: 10rem;
          min-width: 9rem !important;
          border-radius: 999px !important;
        }
      }
    }
  }

  @keyframes scale {
    0% {
      transform: scale(0) translate3d(-50%, -50%, 0);
    }
    90% {
      transform: scale(1) translate3d(-50%, -50%, 0);
    }
  }
}
