$widthSide: 6rem;
$widthComment: 42rem;

#layoutSideVideoComment {
  display: flex;
  background-color: #171720;
  height: 100vh;

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  #side {
    width: $widthSide;
    border-right: 0.1rem solid rgb(226 226 226 / 7%);
  }

  #comment {
    width: $widthComment;
    border-left: 0.1rem solid rgb(226 226 226 / 7%);
  }

  #content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 1.8rem;
    .actions {
      min-height: 4rem;
      display: flex;

      .buttonActions__container {
        margin-left: auto;
        max-width: 100%;
        width: max-content;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        gap: 1.6rem;
      }

      button {
        padding: 0.6rem 0.8rem;
        background-color: #6b39bd;
        color: #fff;
        border-radius: 0.4rem;
        outline: none;
        border: none;
      }
    }

    .stream {
      background-color: transparent;
      // max-height: 50vh;
      height: 100%;

      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .others {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}

@media screen and (max-width: 1023px) {
  #side {
    display: none !important;
  }

  #content {
    width: 55vw !important;
  }

  #comment {
    min-width: 40vw !important;
  }
}
