.Spinner__container {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border-top: .28rem solid #fff;
    border-left: .28rem solid #fff;
    border-right: .28rem solid transparent;
    border-bottom: .28rem solid transparent;

}

.Spinner__container--loading {
    animation: rotation infinite .5s linear;
}

@keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
        0% {
            transform: rotate(0deg);
        }
}