.input__common {
  width: 100%;
  height: 4.3rem;
  border-radius: 0.6rem;
  border: 0.1rem solid var(--border-input);
  color: var(--text-opacity);
  padding: 0.8rem 2rem;
  background-color: var(--bg-theme);
  font-size: 1.3rem;
  cursor: pointer;
}

.input__common--isError {
  border: 0.1rem solid red;
}

.input__common:not(.input__common--isError):focus {
  border: 0.1rem solid var(--color-primary);

}

.field__container {
}
.field__container--isFull{}


.field__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.input__block {
  display: flex;
  gap: 0.6rem;
  font-size: 1.4rem;
  position: relative;
  transition: all 0.2s;

  .label {
    position: absolute;
    padding: 0rem 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    width: max-content;
    transition: top 0.2s;
    // opacity: var(--input-opacity);
    // color: var(--);
  }

  .label--isError {
    color: red !important;
    font-weight: 600;
  }

  .label__notFocus {
    color: #8f97a4;
    top: 50%;

    left: 1rem;
    opacity: 0.7;
    transform: translateY(-50%);
  }

  .label__focus,
  .label--isError {
    top: -1.8rem;
    transform: translateY(50%);
    left: 2rem;
    opacity: 1;
    border-radius: 0.2rem;
    background-color: var(--bg-theme);
  }

  .label__focus {
    color: var(--color-primary);
  }
}

@media screen and (max-width: 767px) {
  .input__common {
    width: 100% !important;
  }

  .field__container--isFull {
    width: 100% !important;
  }
}

@media screen and (max-width: 320px) {
  .input__common {
    width: 100% !important;
  }

  .field__container--isFull, .form__field {
    width: 100% !important;
  }

}
