/* styles/fonts.css */

/*Regular*/
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/FZ Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
/*Semibold*/
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/FZ Poppins-Semibold.ttf") format("truetype");
  font-weight: 600;
}
/* bold */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/FZ Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}
