@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  border: none;
  outline: none;
}

body {
  min-height: 100vh;
  background-image: var(--bg-body-color);
}

*::-webkit-scrollbar {
  width: .8rem;
  height: .4rem;

}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-thumb);
border-radius: .6rem;
}

*::-webkit-scrollbar-track {
  background-color: var(--scroll-bar-track);
}

.ani-scale {
  animation: ani-scale 0.4s linear both;
}
@keyframes ani-scale {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1);
  }
}
@layer components {
  .custom-button {
    @apply min-w-[15rem] w-max min-h-[3.8rem] h-max rounded-md text-[#fff] text-[1.4rem] bg-[var(--color-primary)] flex justify-center  items-center gap-[.6rem];
  }
}

:root {
  --color-pink: #7731d8;
  --color-primary: #175FEF;
}

html {
  font-size: 62.5%;
}

.print-logo {
  display: none;
}

@media print {
  body {
    background-color: white; /* hoặc màu nền bạn muốn */
    -webkit-print-color-adjust: exact; /* Đảm bảo màu sắc chính xác */
    print-color-adjust: exact;
  }

  video {
    display: block;
  }

  .print-logo {
    display: flex;
  }
  img {
    display: block !important;
  }
}
