.skeleton__container {
  animation: skeleton-loading var(--skeleton-theme-time) linear infinite alternate;
}

.skeleton--line {
  width: 24rem;
  height: 2.6rem;
  border-radius: 0.5rem;
}

.skeleton--avatar {
  width: 8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}


.skeleton--box {
    width: 8rem;
    aspect-ratio: 4/1;
    border-radius: .5rem;
  }

@keyframes skeleton-loading {
  0% {
    background-color: var(--sketeton-theme-to);
    //   background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: var(--sketeton-theme-from);

    //   background-color: hsl(200, 20%, 95%);
  }
}
